/* untuk semua area */
* {
  margin: 0;
  padding: 0;
}
/* untuk img nya lebar 100% */
img {
  width: 100%;
}
/* untuk body*/
body {
  background-color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}
/* coutainer */
.container {
  display: grid;
}
/* header */
.header {
  display: grid;
  background-color: #08c3fc;
  padding: 10px;
  margin: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 50px 10px 50px 10px;
  box-shadow: 0 0 1px 1px #e1e1e1;
  overflow: hidden;
  opacity: 0;
  transform: translateY(100%, 0);
  transition: 2s;
}
.header.hMuncul {
  opacity: 1;
  transform: translateY(0, 0);
}
.hero {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: 5px;
}
.hero img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  box-shadow: 0 0 1px 1px #e1e1e1;
  opacity: 0;
  transform: rotate(150deg);
  transition: 1s;
}
.hero img.iMuncul {
  opacity: 1;
  transform: rotate(0);
}
.name {
  display: grid;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  opacity: 0;
  transform: translateY(-100%, 0);
  transition: 2s;
}
.name.nMuncul {
  opacity: 1;
  transform: translateY(0, 0);
}
.status {
  display: grid;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding-bottom: 10px;
  opacity: 0;
  transform: translate(50px, 0);
  transition: 1.5;
}
.status.sMuncul {
  opacity: 1;
  transform: translate(0, 0);
}
/* navigasi */
.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  z-index: 9999;
}
.menu .brand {
  font-size: 0.7em;
  color: #08c3fc;
}
.menu ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  /* opacity: 0;
  justify-content: center;
  align-content: center;
  transform: translate(-40px, 0);
  transition: 3s; */
}
/* .menu ul.mMuncul {
  opacity: 1;
  transform: translate(0, 0);
} */
.menu a {
  display: block;
  background-color: #08c3fc;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.7em;
  border: 1px solod #ffffff;
}
.menu a:hover {
  display: block;
  background-color: #08c3fc;
  color: #dbd7d7;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.7em;
}
/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  /* background-color: black; */
  position: relative;
  z-index: 9999;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background: black;
  border-radius: 3px;
  transition: all 0.5s;
}
.menu-toggle input {
  display: block;
  position: absolute;
  background-color: black;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
}
/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: black;
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: black;
  transform: rotate(-45deg) translate(-1px, 0px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
/* About Me */
.about {
  display: grid;
  grid-template-areas:
    "abouts"
    "aboutme";
}
.abouts h2 {
  text-align: center;
  color: #08c3fc;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.aboutss {
  color: white;
  background-color: #08c3fc;
  text-align: center;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.aboutme {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.aboutme h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.aboutme p {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 0.8em;
  text-align: center;
}
.pKiri,
.pKanan {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: 1s;
}
.pKanan {
  transform: translate(50px, 0);
}
.pKiri.pMuncul,
.pKanan.pMuncul {
  opacity: 1;
  transform: translate(0, 0);
}
.pTengah {
  opacity: 0;
  transform: translate(50px, 0) rotate(-45deg);
  transition: 1s;
}
.pTengah.pMuncul {
  opacity: 1;
  transform: translate(0, 0);
}

/* My Project */
.project {
  display: grid;
  grid-template-areas:
    "projects"
    "projectme";
}
.projects h2 {
  text-align: center;
  color: #08c3fc;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.projectss {
  color: white;
  background-color: #08c3fc;
  text-align: center;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.projectss img {
  width: 200px;
}
.project .projectss {
  opacity: 0;
  transform: translateY(-40%);
  transition: 2s;
}
.project .projectss.pMuncul {
  opacity: 1;
  transform: translateY(0);
}
.projectss.pMuncul:hover {
  cursor: pointer;
  background-color: white;
  color: #08c3fc;
  transform: scale(0.9);
  border: 1px solid #ffff;
}
.projectss .link a {
  color: #066aff;
  text-decoration: none;
}
.projectss .link a:hover {
  color: #08c3fc;
  text-decoration: none;
}
.projectme {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.projectme h3 {
  font-size: 1em;
  margin-bottom: 5px;
}
.projectme p {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 0.8em;
}

/* My Galery */
.galery {
  display: grid;
}
.galerys h2 {
  text-align: center;
  color: #08c3fc;
  padding: 10px;
  text-transform: uppercase;
}
.galery .thumbnail {
  opacity: 0;
  transform: translate(0, -40px);
  transition: 1s;
}
.galery .thumbnail.muncul {
  opacity: 1;
  transform: 0, 0;
}
.galeryss {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  color: white;
  background-color: #08c3fc;
  text-align: center;
  border: 1px solid #aaa;
  box-shadow: 0 0 3px 3px #e1e1e1;
  border-radius: 3px;
}
.galeryss span {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 0.8em;
  color: white;
}
.galeryss li {
  width: 178px;
  height: 178px;
  margin: 20px;
  float: left;

  list-style: none;
}
.galeryss li a {
  text-decoration: none;
  color: white;
}
.galeryss li img {
  border: 5px solid white;
  transition: 0.3s;
}
.galeryss li a:hover img {
  opacity: 1;
  transform: scale(1.1);
}
.clear {
  clear: both;
}
/* overley */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0);
  transition: 1s;
  text-align: center;
  z-index: 9999;
}
.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.7);
  padding: 100px;
}
.overlay img {
  max-height: 100%;
  max-width: 100%;
  box-shadow: 2px 2px 7px rgb(0, 0, 0, 0.5);
}
.overlay:target img {
  animation: zoomDanFade 1s;
}
.overlay .close {
  position: absolute;
  top: 50px;
  right: 50%;
  margin-right: -50px;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 14px;
  padding: 5px;
  opacity: 0;
}
.overlay:target .close {
  animation: slideDownFade 0.5s 0.5s forwards;
}
/* navigasi */

/* Animasi */
@keyframes zoomDanFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
/* Contact */
.contact {
  display: grid;
  justify-content: center;
  align-content: center;
}
.contactme {
  display: grid;
  text-align: center;
  text-transform: uppercase;
  color: #08c3fc;
  padding: 10px;
}
.form {
  display: grid;
  width: 500px;
  height: auto;
  background-color: #08c3fc;
}
.form {
  opacity: 0;
  transform: translateY(-40%);
  transition: 2s;
}
.form.fMuncul {
  opacity: 1;
  transform: translateY(0);
}
.alert {
  display: none;
  text-align: center;
  color: white;
  padding: 10px;
  opacity: 0;
}
.alert.warning {
  display: grid;
  opacity: 1;
}
.formGroup {
  display: grid;
  margin: 10px;
  opacity: 0;
  transform: translateY(-40%);
}
.formGroup.fgMuncul {
  opacity: 1;
  transform: translateY(0);
}
.formGroup label {
  display: grid;
  cursor: pointer;
  color: white;
  width: 50px;
  height: auto;
}
.btn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  padding-bottom: 15px;
  text-align: center;
  justify-items: center;
  align-items: center;
}
.btn .btnKirim {
  background-color: red;
  color: white;
  border: 1px solid white;
  padding: 2px;
  opacity: 0;
  transform: translate(-40px, 0);
  transition: 2s;
}
.btn .btnKirim.bkMuncul {
  opacity: 1;
  transform: translate(0, 0);
}
.btn .btnBatal {
  background-color: red;
  color: white;
  border: 1px solid white;
  padding: 2px;
  opacity: 0;
  transform: translate(40px, 0);
  transition: 2s;
}
.btn .btnBatal.bbMuncul {
  opacity: 1;
  transform: translate(0, 0);
}
.btn .btnKirim:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: white;
}
.btn .btnBatal:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: white;
}
.form input:hover {
  transform: scale(1.02);
}
.form textarea:hover {
  transform: scale(1.02);
}
/* footer */
.footer {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  height: 30px;
  color: white;
  background-color: #08c3fc;
  text-align: center;
  opacity: 0;
  transform: translate(-90px, 0);
  transition: 2s;
}
.footer.foMuncul {
  opacity: 1;
  transform: translate(0, 0);
}
/* Responsive Breakpoin */
@media (max-width: 1024px) {
  .menu {
    display: grid;
    order: inherit;
    grid-template-columns: 1fr;
  }
  .menu .brand {
    display: none;
  }
}
/* Mobile */
@media (max-width: 768px) {
  .menu {
    display: grid;
    order: -1;
    right: 0;
    justify-items: end;
    position: fixed;
    width: 50%;
  }
  .menu-toggle {
    display: flex;
  }
  .menu ul {
    display: flex;
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: white;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 1s;
  }
  .menu ul.slide {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 500px) {
  .form {
    display: grid;
    width: 360px;
    height: auto;
    background-color: #08c3fc;
  }
  .header {
    display: grid;
    grid-template-areas:
      "hero"
      "name"
      "status";
  }
}
